@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

button {
    border: none;
    appearance: none;
    outline: none;
    background: none;
    cursor: pointer;
}

.root-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

header h1 {
    font-size: 2.6rem;
    color: dodgerblue;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 100px;
}

.toolbar {
    height: 54vh;
    width: 26vh;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.toolbar > p {
    font-size: 1.8rem;
    font-weight: bold;
    color: dodgerblue;
}

.color-picker {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}

.color-picker p {
    font-size: 1.2rem;
}

.grid-range {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
}

.grid-range p {
    font-size: 1.2rem;
}

.grid-range button {
    width: fit-content;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    background-color: dodgerblue;
    padding: 6px 20px;
    border-radius: 5px;
}

.eraser button {
    font-size: 1rem;
    font-weight: bold;
    color: white;
    background-color: dodgerblue;
    padding: 6px 20px;
    border-radius: 5px;    
}

.clear-grid button {
    font-size: 1rem;
    font-weight: bold;
    color: white;
    background-color: dodgerblue;
    padding: 6px 20px;
    border-radius: 5px;
}

.grid-container {
    height: 70vh;
    width: 70vh;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

footer {
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
}

.credits {
    display: flex;
    column-gap: 10px;
}

.credits > p {
    font-size: 1.2rem;
}

.credits > a > img:hover {
    transform: scale(1.4);
}